@model ShopBook.Models.Product

<br/>
<form method="post" asp-controller="List" asp-action = "Add">
    <div class="input-group">
        <input asp-for="Name" type="text" class="form-control"/>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>

