@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This ShopBook is helping you make a shopping list before you head to the store. 
</p>
<p>
    Spending diary help you spend less and wisely.
</p>
<p>
    Whenever you need anything checkout your purchase history to find when and where to get the good deal. 
</p>
     

