@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />


<div class="container" >
	<div class="row">
		<p class="text-center">
			<a asp-area="" asp-controller="ShoppingList" asp-action="Index" >Check My List</a>
            <br>
            <a asp-area="" asp-controller="SpendingDiary" asp-action="Index" >Upload My Spending</a>
		</p>
	</div>
</div>




