@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />


<div class="container" >
	<div class="row">
		<p class="text-center">
			<a asp-area="" asp-controller="List" asp-action="AddList" >Create a List</a>
            <br
            <a asp-area="" asp-controller="Product" asp-action="list" >show my list</a>
		</p>
	</div>
</div>




