@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="container-fluid ">
	
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 box box-1">
    <div class="project-hover">
        <h2>Shopping List</h2> 
		<p>Add items to your next shopping cart!</p>    
            <a asp-area="" asp-controller="ShoppingList" asp-action="Index" ></a>
    </div>
</div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 box box-2" >
    <div class="project-hover">
        <h2>SpendingDiary</h2>  
            <p>Did you got anything special today? Write in your spending diary!</p>
            <a asp-area="" asp-controller="SpendingDiary" asp-action="Index" >Upload My Spending</a>
    </div>
</div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 box box-3">
    <div class="project-hover">
        <h2>Product</h2>  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
            <a asp-area="" asp-controller="Product" asp-action="Index">Product</a>
    </div>
</div>

</div>


