.page-header{
  margin-top: 0.1cm;
  padding-left: 25px;
  font-family: Verdana
}

.add-diary{
  margin-top: 1cm;
  margin-left: 2cm;
  border-radius: 5px;
 
}

.total{
  position: relative;
  margin-top: 1cm;
  margin-left: 1cm;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #000
}

form{
  position: relative;
  padding-bottom: 0.5cm;
  padding-left: 25px;
  font-family: Times New Roman;
  font-size: 20px;
}

table {
  background-color:#fff;
}
.column{
  width: 130px;
  padding-left: 25px;
}

th {
  font-family: Montserrat-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a; 
}

td {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.row100:hover {
  background-color: #f2f2f2;
}

.row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}
